.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.boxWrapper {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border: 2px solid var(--gray-300);
}

.box > p {
    font-weight: 700;
    font-size: 1.8rem;
}

.wrong {
    background-color: var(--wrong);
}

.good {
    background-color: var(--warning);
}

.perfect {
    background-color: var(--success);
}