main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main p {
    font-size: 2.6rem;
}

.game-modes-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn {
   font-size: 2.8rem;
    padding: 0.8rem 10rem;
}