input {
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--gray-800);
    border-radius: 15px;
    color: #fff;
    border: 3px solid var(--blue-600);
    padding: 0.8rem 1.6rem;
    text-align: left;
}