.form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
}

.input {
    width: 100%;
}

.btn {
    width: 100px;
}

@media (max-width: 995px) {
    .form {
        width: 100%;
    }

    .input::placeholder {
        font-size: 1.4rem;
    }
}