@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700;900&display=swap');

:root {
    --black: #27272A;
    --white: #FAFAFA;
    --gray-800: #292524;
    --gray-300: #CBD5E1;
    --success: #65A30D;
    --warning: #D97706;
    --wrong: #881337;
    --blue-900: #0C4A6E;
    --blue-600: #0284C7;
    --blue-400: #38BDF8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    min-height: 100vh;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    padding: 5rem 0;
    width: 90%;
    max-width: 1200px;
}

h1 {
    font-size: 5rem;
}

a {
    color: inherit;
    text-decoration: none;
}
