header {
    padding: 3rem;
    background-color: var(--gray-800);
    border: 4px solid var(--blue-900);
    border-top: none;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 {
    font-size: 4rem;
    transition: all 0.3s ease;
}

h1:hover {
    font-size: 5.2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main p {
    font-size: 2.6rem;
}